header {
  border-bottom: none !important;
  padding: 5px 0 0 !important;
  background: rgba(255, 255, 255, 0.7) !important;
  position: fixed !important;
  z-index: 999999999;
}

header .logo {
  margin-bottom: 16px !important;
}
@media screen and (max-width: 600px) {
  header .logo {
    margin: 5px 0 !important;
  }
}

.banner-main {
  align-items: flex-end !important;
}

.banner-content {
  margin-bottom: 20px;
}

.btn, .btn:visited {
  box-shadow: none !important;
}

.banner-content {
  border-radius: 10px;
}

.home .blog-content h5 {
  min-height: 80px;
}

.home .blog-block {
  border-radius: 3px;
}

.home .blog-img {
  border-radius: 3px 3px 0 0;
}

.home .blog-img:after {
  border-radius: 10px;
}

.home .blog-img img {
  border-radius: 10px 10px 0 0;
}

.blog-slider .slick-track {
  padding: 10px 0;
}
.blog-slider .slick-track .slick-slide {
  border-radius: 10px;
}
.blog-slider .slick-track .slick-slide div {
  border-radius: 10px;
}

.about-section .heading {
  margin-bottom: 20px !important;
}

.client-section .heading-two h3 {
  font-size: 14px !important;
}

.page-template-tmp_london .about-section .heading {
  margin-bottom: 0 !important;
}
.page-template-tmp_london .about-section .heading h2 {
  display: none;
}

.listing-block-part .each-block .list-block, .listing-block-part .each-block .list-block .block-img img {
  border-radius: 10px;
}

.property-main .wre-items.grid-view li .inner-container .image img {
  border-radius: 10px 10px 0 0;
}

.property-main .wre-items.grid-view li .inner-container {
  border-radius: 10px;
}

.gallery-block img {
  border-radius: 10px;
}

.blog-news-page .blog-block {
  width: 100% !important;
}
.blog-news-page .blog-block .blog-inner {
  display: flex;
  border-radius: 10px;
}
.blog-news-page .blog-block .blog-inner .blog-img {
  width: 40%;
}
.blog-news-page .blog-block .blog-inner .blog-img:after {
  border-radius: 10px;
}
.blog-news-page .blog-block .blog-inner .blog-img img {
  border-radius: 10px;
}
.blog-news-page .blog-block .blog-inner .blog-img .news-sticker {
  position: absolute;
  top: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-weight: 700;
}
.blog-news-page .blog-block .blog-inner .blog-content {
  width: 60%;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-news-page .blog-block .blog-inner .blog-content .category .post-categories {
  margin: 0;
}
.blog-news-page .blog-block .blog-inner .blog-content .category .post-categories li {
  list-style: none;
}
.blog-news-page .blog-block .blog-inner .blog-content .category .post-categories li a {
  color: #16267b;
}
.blog-news-page .blog-block .blog-inner .blog-content .content {
  margin-top: 10px;
}
.blog-news-page .blog-block .blog-inner .blog-content .date {
  margin-top: 10px;
}
.blog-news-page .blog-block .blog-inner .blog-content .date p {
  color: #626262 !important;
}
.blog-news-page .blog-block .blog-inner .blog-content .btn {
  position: relative !important;
  bottom: 0 !important;
  left: 0 !important;
}

.single-post .about-section {
  padding-top: 140px;
}

.client-inner.about-client-inner {
  display: flex;
  justify-content: space-evenly;
}

.property-main .wre-items li .inner-container .address {
  min-height: 67px;
  display: flex;
  align-items: center;
}

.property-data .wre-search-form .search-input, .property-data .wre-select-wrap select {
  border: none !important;
}

.social-block {
  min-width: 130px;
}

.footer-two-inner > div:first-child {
  width: 30%;
}
